<!DOCTYPE html>
<html>
 <head lang="en">
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
 </head>
 <body>
  <div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="/contact">Гражданин поэт</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="/about">Виктор Алексейчук</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
      </div>
        <div>
          <a class="blog-header-logo text-dark" href='/'>К стихам</a>
      </div>
    </div>
        <script>
   document.createElement('aside');
   document.createElement('article');
  </script>
  <style>
      body {
  background: url(images/city.png) repeat-x 0 100% fixed,
  linear-gradient(to top, #5080b1, #004e8c) fixed;
}
   aside {
    background: #f0f0f0;
    padding: 5px;
    width: 200px;
    float: right;
   }
   article {
    margin-right: 140px;
    display: block;de
   }
  </style>
   </header>
  <body>
        <h1>Морские волки</h1>
                       <pre><h5>
               Человек и собака
               Лучше друзей нету
               Знаки зодиака
               Далиб одну планету
               Наверное злая шутка
               Им разные дали системы
               Почему планета где будка
               Меньше в семь раз , чем где мы ?
               Сердце скорбит об этом
               Когда ты хоронишь друга
               И холодно даже летом
               В душе завывает вьюга ...</h5></pre>
   <aside>
   <p>Что жалеть когда прошло былое ?</p>
   <p>Что роптать когда не тот итог ?</p>
   <p>Вспомни лучше время удалое ,</p>
   <p>Были молоды и каждый много мог .</p>
  </aside>

    <p><img src="http://os1.i.ua/3/1/7526273_26ce9785.jpg" width="700" height="600"
  alt="Иллюстрация" align="left"
  vspace="5" hspace="5">
  <pre>Зорька золотая
Мне во сне приснилась
Ива молодая
К речке наклонилась

Высохли слезою
Все в росе поля
Скошенной травою
Пахнет вся земля

Не слыхать ни звука
Ветер не шумит
Лишь от сердца стука
Голову кружит .

Утро встало над селом
Всё росой укрыло
Словно свежим молоком
Землю напоило

И горит теперь земля
Изумрудным цветом
Я дыханье затая
Наблюдаю это

Снова скоро Покрова
С осенью ворвётся
И зелёная трава
Золотом взорвётся ...</pre></p>
</body>
</html>
