
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'polls/style.css' %}">
    <title>Home</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body style="background: silver">
<div class="container">
  <header class="blog-header py-3">
    <div class="row flex-nowrap justify-content-between align-items-center">
      <div class="col-4 pt-1">
        <a class="link-secondary" href="/contact">Гражданин поэт</a>
      </div>
      <div class="col-4 text-center">
        <a class="blog-header-logo text-dark" href="/about">Bиктор Алексейчук</a>
      </div>
      <div class="col-4 d-flex justify-content-end align-items-center">
        <a class="link-secondary" href="#" aria-label="Search">
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="mx-3" role="img" viewBox="0 0 24 24"><title>Search</title><circle cx="10.5" cy="10.5" r="7.5"/><path d="M21 21l-5.2-5.2"/></svg>
        </a>
        <a class="btn btn-sm btn-outline-secondary" href="#">Экспериементальная кнопка</a>
      </div>
    </div>
  </header>
    <h1>Мне порой писать стихи</h1>
    <h1>как замаливать грехи ...</h1>
   <h1> </h1>
    {% block content %}
    {% if posts %}
    {% for post in posts %}
           <h3>{{ post.title }}</h3>
              <image src="{{ post.photo.url }}" alt="{{post.title}}"></image>
                  <div class="alert alert-warning mt-2"></div>
               <div>
                   {% autoescape off %}
                   <pre>{{ post.content }}</pre>
                   {% endautoescape %}

               </div>
                  <p>{{ post.created_at|date:"Y-m-d" }}</p>
         <hr>
     {% endfor %}
     {% else %}
          <p>У нас нет записей</p>
     {% endif %}
     {% endblock content %}
</div>
</body>
</html>